<!doctype html>
<html>
    <head>
        <title>{{ object.home_team }} x {{ object.away_team }}</title>
    </head>
    <body>
        <h1>Match information:</h1>
        <h2>{{ object.home_team }} <span id="home_score">{{ object.home_score }}</span>:<span id="away_score">{{ object.away_score }}</span> {{ object.away_team }} </h2>
    </body>
    <script>
        const awayScore = document.getElementById('away_score');
        const homeScore = document.getElementById('home_score');
        const matchId = `{{ object.id }}`;
        let matchUpdatedAt = `{{ object.updated_at|date:"c" }}`;

        const longPolling = async () => {
            while(true) {
                let query = new URLSearchParams({updated_at: matchUpdatedAt}).toString();
                let response = await fetch('/api/matches/' + matchId + '/?' + query);

                if (response.status === 200) {
                    let data = await response.json();

                    awayScore.innerHTML = data['away_score'];
                    homeScore.innerHTML = data['home_score'];
                    matchUpdatedAt = data['updated_at'];
                }
            }
            
        };

        window.onload = longPolling;
    </script>
</html>