<!doctype html>
<html>
    <head>
        <title>{{ object.home_team }} x {{ object.away_team }}</title>
    </head>
    <body>
        <h1>Match information:</h1>
        <h2>{{ object.home_team }} <span id="home_score">{{ object.home_score }}</span>:<span id="away_score">{{ object.away_score }}</span> {{ object.away_team }} </h2>
    </body>
    <script>
        const awayScore = document.getElementById('away_score');
        const homeScore = document.getElementById('home_score');
        const matchId = `{{ object.id }}`;
        const ws = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/matches/'
            + matchId
            + '/'
        );

        ws.onmessage = (event) => {
            let data = JSON.parse(event.data);

            if (data['type'] === 'match.updated') {
                awayScore.innerHTML = data['away_score'];
                homeScore.innerHTML = data['home_score'];
            }
        }
    </script>
</html>